<h1>Balance Sheet as of <%= Date.today %></h1>

<h3>Asset</h3>
<% @balance_sheet.assets.each do |asset| %>
  <%= asset.name %>: <%= asset.balance_as_of(Date.today) %>
  <br>
<% end %>
<h3>Total Assets: <%= @balance_sheet.assets.balance_as_of(Date.today) %></h3>

<br>
<h3>Liabilities</h3>
<% @balance_sheet.liabilities.each do |liability| %>
  <%= liability.name %>: <%= liability.balance_as_of(Date.today) %>
  <br>
<% end %>
<h3>Total Liabilities: <%= @balance_sheet.liabilities.balance_as_of(Date.today) %></h3>

<br>
<h3>Owner's Equity</h3>
<% @balance_sheet.equities.each do |equity| %>
  <%= equity.name %>: <%= equity.balance_as_of(Date.today) %>
  <br>
<% end %>
Net income this period: <%= @income_statement.profit(THE_BEGINNING, Date.today) %>

<h3>Total Owner's Equity: <%= @balance_sheet.equities.balance_as_of(Date.today) + @income_statement.profit(THE_BEGINNING, Date.today)  %></h3>

<p>
  Download:
  <%= link_to "Excel", balance_sheets_path(format: "xls") %>
</p>
