<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <!-- Report headers-->
      <Row>
        <Cell></Cell>
        <Cell><Data ss:Type="String"><%= @balance_sheet.user.email %></Data></Cell>
      </Row>
      <Row>
        <Cell></Cell>
        <Cell><Data ss:Type="String">Balance Sheet</Data></Cell>
      </Row>
      <Row>
        <Cell></Cell>
        <Cell><Data ss:Type="String"><%= @balance_sheet.period + "Balance Sheet as of " + @balance_sheet.as_of %></Data></Cell>
      </Row>

    <!-- Assets -->
    <Row>
      <Cell><Data ss:Type="String">Assets</Data></Cell>
    </Row>
    <% @balance_sheet.assets.each do |asset| %>
      <Row>
        <Cell><Data ss:Type="String"><%= asset.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= asset.balance_as_of(@balance_sheet.as_of) %></Data></Cell>
      </Row>
    <% end %>
    <Row>
      <Cell><Data ss:Type="String">Total Assets</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @balance_sheet.user.assets.balance_as_of(@balance_sheet.as_of) %></Data></Cell>
    </Row>

    <Row>
      <Cell></Cell>
    </Row>

    <!-- Liabilities -->

    <Row>
      <Cell><Data ss:Type="String"><B>Liabilities</B></Data></Cell>
    </Row>
    <% @balance_sheet.liabilities.each do |liability| %>
      <Row>
        <Cell><Data ss:Type="String"><%= liability.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= liability.balance_as_of(@balance_sheet.as_of) %></Data></Cell>
      </Row>
    <% end %>
    <Row>
      <Cell><Data ss:Type="String">Total Liabilities</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @balance_sheet.user.liabilities.balance_as_of(@balance_sheet.as_of) %></Data></Cell>
    </Row>

    <Row>
      <Cell></Cell>
    </Row>

    <!-- Owner's Equity -->
    <% @balance_sheet.equities.each do |equity| %>
      <Row>
        <Cell><Data ss:Type="String"><%= equity.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= equity.balance_as_of(@balance_sheet.as_of) %></Data></Cell>
      </Row>
    <% end %>
    <Row>
      <Cell><Data ss:Type="String">Net Income for period</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @income_statement.profit(THE_BEGINNING, Date.today) %></Data></Cell>
    </Row>
    <Row>
      <Cell><Data ss:Type="String">Total Owner's Equity</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @balance_sheet.user.equities.balance_as_of(@balance_sheet.as_of) + @income_statement.profit(THE_BEGINNING, Date.today) %></Data></Cell>
    </Row>


    </Table>
  </Worksheet>
</Workbook>
